@page "/EmployeeDetailsPrint"

@rendermode InteractiveServer
@using BlazorAppForReporting.Services
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JS

<EditForm Model="@employee" OnValidSubmit="HandleSubmit">
    <h3 class="text-center"> Person </h3>
    <div class="card dataForm ">
        <div class="form-group">
            <label for="empId">Employee Id</label>
            <InputText id="empId" class="form-control" @bind-Value="employee.EmpId" required />
            <ValidationMessage For="@(() => employee.EmpId)" />
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" class="form-control" @bind-Value="employee.Name" required />
            <ValidationMessage For="@(() => employee.Name)" />
        </div>
        <div class="form-group">
            <label for="designation">Designation</label>
            <InputText id="designation" class="form-control" @bind-Value="employee.Designation" required />
            <ValidationMessage For="@(() => employee.Designation)" />
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <InputText id="phone" class="form-control" @bind-Value="employee.Phone" required />
            <ValidationMessage For="@(() => employee.Phone)" />
        </div>

        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</EditForm>

@code {
    [Inject]
    private HttpClient Http { get; set; }

    private MyEmployees employee = new();

    private async Task HandleSubmit()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("Employees/EmployeeDetailsPrint", employee);
            if (response.IsSuccessStatusCode)
            {
                var pdfUrl = await response.Content.ReadAsStringAsync();
                await JS.InvokeVoidAsync("open", pdfUrl, "_blank");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}
